body {
  background-image: url("../img/musik_light.jpg");
  background-repeat: none;
  background-size: 650px;
  background-attachment: fixed;
/*	background-image: url("../img/parchment.jpg");
*/}

/*div.time_edit_center {
	width:700px;
  height:600px;
	border:2px solid black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 2px #000;
  background-color: white;
}*/

div.instructions {
  padding:20px;
  line-height:150%;
}
/*p {
  padding:5px 25px;
}*/

h1 {
	text-align:center;
  font-size: 150%;
}
div.left_panel {
	float:left;
	border-top:1px solid #000;
  border-right:1px solid #000;
}
div.right_panel {
  background-color: white;
	float:left;
	width:309px;
  padding:20px;
	border-top:1px solid #000;
}
div.time {
/*	border:1.5px solid black;
*/}
ul {
	list-style:none;
}
div.box {
  border: 4px solid black;/*rgb(128,81,44);*/
  background-color: rgba(0,0,0,0);
  position:absolute;
}
.toolbar {
  padding-bottom:10px;
}
input.measure_time {
  width: 50%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:5px;
  border: 1px solid #000;
}

.empty-error {
  color:red;
  font-weight: bold;
}

input.error {
	border-color: red;
}
input.current {
	background-color: black;/*#80512C;*/
  color:white;
}
button {
  margin-top: 15px;
  font-size: 100%;
  border: 1px solid black;
  background: white;
  border-radius: 10px;
}


.button:active {
  background: #333;
  color: #CCC;
}

.send_augnotes {
  /*width: 70%;*/
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:40px;
  font-size:110%;
  border: 1px solid black;
  background: white;
  /*border-radius: 10px*/
}
.send_augnotes:hover {
  /*width: 75%;*/
  /*font-size:130%;*/
  background: #EEE;
  /*border-radius: 10px*/
}
.footer {
  border-top: 2px solid black;
  font-size: 90%;
  text-align: center;
  padding: 5px 5px;
  height: 34px;
  line-height:30px;
}

.footer a.license {
  float:left;
}

/*form.upload {
  padding:30px;
}*/

.center-content {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  border: 2px solid #000;
  /*box-shadow: 3px 3px 4px #000;*/
  background-color: white;
/*  padding: 15px;
*//*  background-image: url("../img/parchment.jpg");
*/}

#header-left {
  width:349px;
  /*display:inline-block;*/
  float:left;
  border-right: 2px solid #000;
  /*padding: 10px;*/
}
#header-left .header-logo {
  width:275px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:5px;
  padding: 3px;
}
#header-right {
  float:right;
  /*display:inline-block;*/
  width: 349px;
  /*width: 322px;*/
  height: 111px;
  text-align: center;
  vertical-align: middle;
  margin-top: 30px;
/*  padding: 15px;
*/  font-size: 130%;
}

#header {
/*  padding-bottom:3px;
*/  border-bottom: 2px solid #000;
}

.upload-label {
  display:inline-block;
  width:120px;
}